<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>thepathtrain.com</title>
    <meta name="description" content="NY/NJ Path Train Time Schedule">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link rel="stylesheet" href="/static/pure/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/static/pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]>
    <!-->
    <link rel="stylesheet" href="/static/pure/grids-responsive-min.css">
    <!--<![endif]-->

    <style>
        ul.options {
            list-style-type: none;
        }

        ul.options li {
            margin: 10px 0;
        }

        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            min-width: 40%;
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221); /* this is a light blue */
        }

         table.center {
            margin-left:auto;
            margin-right:auto;
          }

        </style>
</head>
<body>
    <div class="pure-g" style='text-align:center;'>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-2-4" style="text-align:center;">
            <h3><a href="/">thepathtrain.com</a></h3>
            <h5>Find times for The NY/NJ Path Trains</h5>
            <div id="ad-top">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- thepathtrain-mobile-banner -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:320px;height:50px"
                     data-ad-client="ca-pub-8332528160332561"
                     data-ad-slot="6979616073"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div id="from">
                <h3>Choose From</h3>
                <h5>
                    What station will you be leaving from?
                </h5>
                <ul class="options">
                    {% for station in stations %}
                    <li data-station-id="{{ station.stop_id }}">
                        <button class="button-secondary pure-button">{{ station.stop_name }}</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="to" style="display:none;">
                <h3>Choose To</h3>
                <h5>
                    What station do you want to arrive at?
                </h5>
                <ul class="options">
                    {% for station in stations %}
                    <li data-station-id="{{ station.stop_id }}">
                        <button class="button-secondary pure-button">{{ station.stop_name }}</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="results" style="display:none;">
                <table class="pure-table center">
                    <thead>
                        <tr>
                            <th>Start</th>
                            <th>Stop</th>
                            <th>Train to Look for</th>
                        </tr>
                    </thead>

                    <tbody id="times">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        </div>
    </div>


    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/moment/moment.min.js"></script>
    <script>
        $(document).ready(function(){

            var from, to, day;
            var $times = $('#times');
            var record_html = '<tr><td>{0}</td><td>{1}</td><td>{2}</td></tr>';
            var time_parse = 'HH:mm:ss';
            var time_format = 'hh:mm:ss A';

            function convertTime(time) {
                return moment(time, 'HH:mm:ss').format('hh:mm:ss A')
            }

            function insertTime(time, index, list) {
                var start = convertTime(time.arrival_time_x);
                var stop = convertTime(time.arrival_time_y);
                var service = time.service_id;
                var trip_headsign = time.trip_headsign;

                $times.append(record_html.format(start, stop, trip_headsign));
            }

            function renderTimes(times) {
                _.each(times, insertTime);
                $('#results').show();
            }

            function getTimes() {
                var endpoint = '/from/' + from + '/to/' + to + '/';
                $.get(endpoint)
                .done(function(data) {
                    renderTimes(data);
                });
            }


            $('#day li').click(function(){
                $('#day').hide();
                day = $(this).data('service-id');
                console.log(day);
                $("#from").show();
            });

            $('#from li').click(function(){
                $('#from').hide();
                from = $(this).data('station-id');
                console.log(from);
                $('#to').show();
            });

            $('#to li').click(function(){
                $('#to').hide();
                to = $(this).data('station-id');
                getTimes();
            });

        });
    </script>
    <script>
        if (!String.prototype.format) {
          String.prototype.format = function() {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function(match, number) {
              return typeof args[number] != 'undefined'
                ? args[number]
                : match
              ;
            });
          };
        }
    </script>
</body>
</html>